{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!--la tarjeta card-->
        <div class="card"> <!-- tarjeta -->
            <div class="card-body">
                <form action="/editarProductos/" method="POST"> {% csrf_token %} <!-- formulario-->
                    
                    <div class="form-group">
                        <input type="number" name="txtid_producto" class="form-control" value="{{misproductos.id_producto}}" maxLength="6" readonly required >
                    </div>
                    <div class="form-group py-3">
                        <input type="text" name="txtnombre" class="form-control" value="{{misproductos.nombre}}" maxLength="100" required >
                    </div>
                    <div class="form-group py-3">
                        <input type="number"  name="txtcantidad_productos" class="form-control" value="{{misproductos.cantidad_productos}}"min="1" max="9" required >
                    </div>
                    <div class="form-group py-3">
                        <input type="number" name="txtprecio" class="form-control" value="{{misproductos.precio}}" maxLength="6" required >
                    </div>
                    <div class="form-group py-3">
                        <input type="text" name="txtdescripcion" class="form-control" value="{{misproductos.descripcion}}" maxLength="100" required >
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form> <!-- formulario-->
            </div>
            </div>

        <!--fin de la tarjeta card-->

    </div> <!--columna-->
</div> <!--fila-->


{% endblock %}