{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row"><!--La Fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Registrar Producto</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/registrarProductos/" method="POST"> {% csrf_token %} <!-- formulario-->
                <div class="form-group">
                    <input type="number" name="txtid_producto" class="form-control" placeholder="Id Producto" maxLength="6" required >
                </div>
                <div class="form-group py-3">
                    <input type="text"name="txtnombre" class="form-control" placeholder="Nombre" maxLength="100" required >
                </div>
                <div class="form-group py-3">
                    <input type="number" name="txtcantidad_productos" class="form-control" placeholder="Cantidad de Productos" maxLength="100" required >
                </div>
                <div class="form-group py-3">
                    <input type="number" name="txtprecio" class="form-control" placeholder="Precio" maxLength="100" required >
                </div>
                <div class="form-group py-3">
                    <input type="text" name="txtdescripcion" class="form-control" placeholder="Descripcion" maxLength="6" required >
                </div>
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form> <!-- formulario-->
        </div>
        </div>
</div><!-- columna izquierda-->
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- columna derecha-->
    <img class="w-50" src="{% static 'img/Productos_F1.png' %}" width="600" height="300" alt="">
        <h1>Productos</h1>
<div class="table-responsive"><!-- tabla responsiva-->
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad de Productos</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
        </tr>
        </thead>
        <tbody>
            {% for producto in misproductos %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{producto.id_producto}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.cantidad_productos}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.descripcion}}</td>
                <td><a href="seleccionarProductos/{{producto.id_producto}}" class="btn btn-info">Editar</a></td>
                <td><a href="borrarProductos/{{producto.id_producto}}" class="btn btn-danger">Borrar</a></td>
            </tr>
            
            
            {% endfor %}
        </tbody>
    </table>
    </div>
</div><!-- columna derecha-->
</div><!--La Fila-->
{% endblock %}