{% extends 'base.html' %}
{% load static %}
{% block titulo %} <title> Mis Productos para Usuarios de F1 </title> {% endblock titulo %}
{% block cuerpo %}
<div class="d-flex flex-column justify-content-center: align-items-center">
    <h1 class="mt-4  mb-4"> Mis Productos para Usuarios de F1 </h1>
    <link rel="stylesheet" type="text/css" href="{% static 'img/f1log.png' %}">
<img class="w-50" src="{% static 'img/Tienda_F1.png' %}" alt="tiendaf1" width="400" height="300">
</div>
{% endblock cuerpo%}