{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!--la tarjeta card-->
        <div class="card"> <!-- tarjeta -->
            <div class="card-body">
                <form action="/editarEnvios/" method="POST"> {% csrf_token %} <!-- formulario-->
                    
                    <div class="form-group">
                        <input type="number" name="numid_envio" class="form-control"
                        value="{{misenvios.id_envio}}"  readonly required >
                    </div>
    
                    <div class="form-group py-3">
                        <input type="number" name="numid_cliente" class="form-control"
                        value="{{misenvios.id_cliente}}"  required >
                    </div>
                    
                    <div class="form-group py-3">
                        <input type="number" name="numid_empleado" class="form-control"
                        value="{{misenvios.nombre_proveedor}}" maxLength="100" required >
                    </div>

                    <div class="form-group py-3">
                        <input type="number" name="numid_producto" class="form-control"
                        value="{{misenvios.producto}}" required >
                    </div>

                    <div class="form-group py-3">
                        <input type="date" name="txtfecha_pedido" class="form-control"
                        value="{{misenvios.fecha_pedido}}"   required >
                    </div>

                    <div class="form-group py-3">
                        <input type="number" name="numcantidad_productos" class="form-control"
                        value="{{misenvios.cantidad_productos}}" required >
                    </div>

                    <div class="form-group py-3">
                        <input type="number" name="numtotal" class="form-control"
                        value="{{misenvios.total}}" maxLength="6" required >
                    </div>                    

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form> <!-- formulario-->
            </div>
            </div>

        <!--fin de la tarjeta card-->

    </div> <!--columna-->
</div> <!--fila-->


{% endblock %}